<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!--Import Google Icon Font-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <!-- jQuery/AJAX -->
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    </head>
    <body>
        {% block content %}{% endblock %}
        <!-- Compiled and minified JavaScript -->
        <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
        <!-- Custom JS -->
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
        <!-- Template script blocks -->
        {% block script %}{% endblock %}
    </body>
</html>