{% extends "public/templates/template.html" %}
{% block content %}
    <style>
        html, body, .login-box {
            height: 99%;
        }
        body {
            background-image: url("{{ url_for('static', filename='img/background.jpeg') }}");
        }
    </style>
    <div class="valign-wrapper row login-box">
        <div class="col card s10 pull-s1 m6 pull-m3 l4 pull-l4">
            <form method="POST">
                <div class="card-content">
                    <span class="card-title">Login</span>
                    <div class="row">
                        <!-- <div class="input-field col s12">
                            <label for="username">Username</label>
                            <input type="text" class="validate" name="username" id="username" />
                        </div>
                        <div class="input-field col s12">
                            <label for="password">Password </label>
                            <input type="password" class="validate" name="password" id="password" />
                        </div> -->
                        {{ form.hidden_tag() }}
                        <div class="input-field col s12">
                            {{ form.username.label }}
                            {{ form.username(size=32) }}
                        </div>
                        <div class="input-field col s12">
                            {{ form.password.label }}
                            {{ form.password(size=32) }}
                        </div>
                    </div>
                </div>
                <div class="card-action right-align">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Login
                        <i class="material-icons right">chevron_right</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}