<!DOCTYPE html>
<html>
    <head>
        {% if title %}
            <title>{{ title }} | Aircon</title>
        {% else %}
            <title>Aircon</title>
        {% endif %}
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!--Import Google Icon Font-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <!-- jQuery/AJAX -->
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    </head>
    <body>
        <header>
            <nav class="light-blue">
                <div class="container">
                    <div class="nav-wrapper">
                        {% if title %}
                            <a href="#" class="brand-logo">{{ title }}</a> 
                        {% endif %}
                    </div>
                </div>
            </nav>
            <ul id="nav-mobile" class="sidenav sidenav-fixed grey lighten-5" style="transform: translateX(0px);">
                <li><a class="subheader">Main</a></li>
                <li><a href="/dashboard"><i class="material-icons">assessment</i>Dashboard</a></li>
                <li><a href="/devices"><i class="material-icons">desktop_windows</i>Devices</a></li>
                <li><div class="divider"></div></li>
                <li><a class="subheader">Tools</a></li>
                <li><a href="/monitor"><i class="material-icons">swap_horiz</i>Monitor</a></li>
                <li><a href="/intercept"><i class="material-icons">settings_input_component</i>Intercept</a></li>
                <li><a href="/packet"><i class="material-icons">create</i>Custom Packets</a></li>
                <li><div class="divider"></div></li>
                <li><a class="subheader">Options</a></li>
                <li><a href="/customise"><i class="material-icons">bubble_chart</i>Customise</a></li>
                <li><a href="/settings"><i class="material-icons">settings</i>Settings</a></li>
            </ul>
        </header>
        <main>
            <!-- Container holds entire child page -->
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </main>
        <!-- Compiled and minified JavaScript -->
        <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
        <!-- Custom JS -->
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
        <!-- Template script blocks -->
        {% block script %}{% endblock %}
    </body>
</html>