{% extends "private/templates/template.html" %}
{% block content %}
    <h4>Admin Panel</h4>
    <div class="card-panel">Aircon is an advanced tool for monitoring and altering packets on other devices on the network by making use of a MiTM attack.</div>
{% endblock %}