{% extends "private/templates/template.html" %}
{% block content %}
    <style>
        .device-window {
            padding:10px 0 30px 0;
        }
    </style>
    <h5>Devices on Network</h5>
    <div class="card-panel">
        <div class="device-window">
            <table class="striped centered grey lighten-5">
                <thead>
                    <tr>
                        <th>Hostname</th>
                        <th>Vendor</th>
                        <th>MAC Address</th>
                        <th>IP Address</th>
                    </tr>
                </thead>
                <tbody id='device-table'>
                    {% for device in devices %}
                        <tr>
                            <td>{{ device[0] }}</td>
                            <td>{{ device[1] }}</td>
                            <td>{{ device[2] }}</td>
                            <td>{{ device[3] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light col" onclick="scan();">Refresh<i class="material-icons right">autorenew</i></button>
            <!-- <div id="loader" class="progress col s10 offset-s1">
                <div class="indeterminate"></div>
            </div> -->
            <div id="loader" class="preloader-wrapper small active right" style="display: none;">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        var scanning = false;
        function scan() {
            if (scanning == false) {
                scanning = true;
                $('#loader').css('display','block');
                $.get('/admin/devices/scan', function (data, textStatus, jqXHR) {
                    $('#device-table').html(data);
                    $('#loader').css('display','none');
                    scanning = false;
                });
            }
        }
        $(document).ready(function() {
            if ($('#device-table > tr').length == 0) {
                scan();
            }
        });
    </script>
{% endblock %}